In [1]:
import findspark

In [2]:
findspark.init('/usr/local/spark')

In [3]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("Basics").getOrCreate()

In [4]:
df = spark.read.json('people.json')

In [5]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [6]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [7]:
df.columns

['age', 'name']

In [8]:
df.describe()

DataFrame[summary: string, age: string, name: string]

In [9]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [10]:
from pyspark.sql.types import (StructField, 
                                StringType, 
                               IntegerType, 
                               StructType)

In [11]:
data_scime = [StructField('age', IntegerType(),True), 
            StructField('name', StringType(), True)]

In [12]:
final_struc = StructType(fields=data_scime)

In [14]:
df = spark.read.json('people.json', schema=final_struc)

In [15]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [16]:
df['age']

Column<b'age'>

In [17]:
type(df['age'])

pyspark.sql.column.Column

In [29]:
df.select('age').show()

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

In [18]:
type(df.select('age').show())

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

NoneType

In [31]:
df.head(2)

[Row(age=None, name='Michael'), Row(age=30, name='Andy')]

In [33]:
df.head(2)[0]

Row(age=None, name='Michael')

In [34]:
df.select(['age','name']).show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [36]:
df.withColumn('Newage', df['age']*2).show()

+----+-------+------+
| age|   name|Newage|
+----+-------+------+
|null|Michael|  null|
|  30|   Andy|    60|
|  19| Justin|    38|
+----+-------+------+

In [39]:
df.withColumnRenamed('age', 'my_new_age').show()

+----------+-------+
|my_new_age|   name|
+----------+-------+
|      null|Michael|
|        30|   Andy|
|        19| Justin|
+----------+-------+

In [40]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [23]:
df.createOrReplaceTempView('people')

In [24]:
results = spark.sql("SELECT * FROM people")

In [25]:
results.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [26]:
new_result = spark.sql("SELECT * FROM people WHERE age=30")

In [27]:
new_result.show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+